<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swingz.mapper.TBisWalletMapper">
  <resultMap id="BaseResultMap" type="cn.swingz.entity.TBisWallet">
    <id column="tbw_id" jdbcType="BIGINT" property="tbwId" />
    <result column="bis_id" jdbcType="BIGINT" property="bisId" />
    <result column="bis_amount" jdbcType="DECIMAL" property="bisAmount" />
    <result column="bis_fzamount" jdbcType="DECIMAL" property="bisFzamount" />
  </resultMap>
  <sql id="Base_Column_List">
    tbw_id, bis_id, bis_amount, bis_fzamount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_bis_wallet
    where tbw_id = #{tbwId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_bis_wallet
    where tbw_id = #{tbwId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.swingz.entity.TBisWallet">
    insert into t_bis_wallet (tbw_id, bis_id, bis_amount, 
      bis_fzamount)
    values (#{tbwId,jdbcType=BIGINT}, #{bisId,jdbcType=BIGINT}, #{bisAmount,jdbcType=DECIMAL}, 
      #{bisFzamount,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.swingz.entity.TBisWallet">
    insert into t_bis_wallet
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tbwId != null">
        tbw_id,
      </if>
      <if test="bisId != null">
        bis_id,
      </if>
      <if test="bisAmount != null">
        bis_amount,
      </if>
      <if test="bisFzamount != null">
        bis_fzamount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tbwId != null">
        #{tbwId,jdbcType=BIGINT},
      </if>
      <if test="bisId != null">
        #{bisId,jdbcType=BIGINT},
      </if>
      <if test="bisAmount != null">
        #{bisAmount,jdbcType=DECIMAL},
      </if>
      <if test="bisFzamount != null">
        #{bisFzamount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.swingz.entity.TBisWallet">
    update t_bis_wallet
    <set>
      <if test="bisId != null">
        bis_id = #{bisId,jdbcType=BIGINT},
      </if>
      <if test="bisAmount != null">
        bis_amount = #{bisAmount,jdbcType=DECIMAL},
      </if>
      <if test="bisFzamount != null">
        bis_fzamount = #{bisFzamount,jdbcType=DECIMAL},
      </if>
    </set>
    where tbw_id = #{tbwId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.swingz.entity.TBisWallet">
    update t_bis_wallet
    set bis_id = #{bisId,jdbcType=BIGINT},
      bis_amount = #{bisAmount,jdbcType=DECIMAL},
      bis_fzamount = #{bisFzamount,jdbcType=DECIMAL}
    where tbw_id = #{tbwId,jdbcType=BIGINT}
  </update>
</mapper>