<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.swingz.mapper.TOrderMapper">
  <resultMap id="BaseResultMap" type="cn.swingz.entity.TOrder">
    <id column="to_id" jdbcType="BIGINT" property="toId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_price" jdbcType="DECIMAL" property="orderPrice" />
    <result column="order_flag" jdbcType="SMALLINT" property="orderFlag" />
    <result column="order_user" jdbcType="VARCHAR" property="orderUser" />
    <result column="order_tel" jdbcType="VARCHAR" property="orderTel" />
    <result column="order_addr" jdbcType="VARCHAR" property="orderAddr" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    to_id, order_id, user_id, order_price, order_flag, order_user, order_tel, order_addr, 
    created_time, updated_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where to_id = #{toId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_order
    where to_id = #{toId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.swingz.entity.TOrder">
    insert into t_order (to_id, order_id, user_id, 
      order_price, order_flag, order_user, 
      order_tel, order_addr, created_time, 
      updated_time)
    values (#{toId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{orderPrice,jdbcType=DECIMAL}, #{orderFlag,jdbcType=SMALLINT}, #{orderUser,jdbcType=VARCHAR}, 
      #{orderTel,jdbcType=VARCHAR}, #{orderAddr,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="cn.swingz.entity.TOrder">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="toId != null">
        to_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderPrice != null">
        order_price,
      </if>
      <if test="orderFlag != null">
        order_flag,
      </if>
      <if test="orderUser != null">
        order_user,
      </if>
      <if test="orderTel != null">
        order_tel,
      </if>
      <if test="orderAddr != null">
        order_addr,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="toId != null">
        #{toId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderPrice != null">
        #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderFlag != null">
        #{orderFlag,jdbcType=SMALLINT},
      </if>
      <if test="orderUser != null">
        #{orderUser,jdbcType=VARCHAR},
      </if>
      <if test="orderTel != null">
        #{orderTel,jdbcType=VARCHAR},
      </if>
      <if test="orderAddr != null">
        #{orderAddr,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.swingz.entity.TOrder">
    update t_order
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderPrice != null">
        order_price = #{orderPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderFlag != null">
        order_flag = #{orderFlag,jdbcType=SMALLINT},
      </if>
      <if test="orderUser != null">
        order_user = #{orderUser,jdbcType=VARCHAR},
      </if>
      <if test="orderTel != null">
        order_tel = #{orderTel,jdbcType=VARCHAR},
      </if>
      <if test="orderAddr != null">
        order_addr = #{orderAddr,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where to_id = #{toId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.swingz.entity.TOrder">
    update t_order
    set order_id = #{orderId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      order_price = #{orderPrice,jdbcType=DECIMAL},
      order_flag = #{orderFlag,jdbcType=SMALLINT},
      order_user = #{orderUser,jdbcType=VARCHAR},
      order_tel = #{orderTel,jdbcType=VARCHAR},
      order_addr = #{orderAddr,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP}
    where to_id = #{toId,jdbcType=BIGINT}
  </update>
</mapper>